@font-face {
  font-family: Cowboy_Movie;
  src: url(../fonts/Cowboy_Movie.ttf);
}

@font-face {
  font-family: JMH_Typewriter;
  src: url(../fonts/JMH_Typewriter.ttf);
}

@font-face {
  font-family: JMH_Typewriter-Bold;
  src: url(../fonts/JMH_Typewriter-Bold.ttf);
}

@font-face {
  font-family: JMH_Typewriter-Thin;
  src: url(../fonts/JMH_Typewriter-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #e1e1e1;
  font-family: JMH_Typewriter-Thin;
}

body p {
  font-size: 16px;
}

h2 {
  margin-top: 50px;
  font-size: 30px;
  font-family: JMH_Typewriter-Bold;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 30px;
  font-size: 30px;
  font-family: JMH_Typewriter-Bold;
  text-align: center;
}

#main-title {
  background: rgba(0, 0, 0, 0.9);
  padding: 6px 24px;
  font-family: Cowboy_Movie;
  text-align: left;
  color: white;
  margin: 0px;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.menu {
  position: sticky;
  top: 0px;
  background-color:#181818
}

.menu a {
  display: inline-block;
  font-family: JMH_Typewriter-Thin;
  text-decoration: none;
  font-size: 20px;
  color:#e1e1e1;
  padding: 14px 22px;
}

.menu a:hover {
  background: #e6af63;
  color: black;
}

#historia {
  height: 20px;
}

#story {
  margin: 30px 40px;
}

#destinos {
  height: 20px;
}

#destination {
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#destination div {
  background-color: rgba(207, 206, 206, 0.5);
  padding: 20px;
}

#pacotes {
  height: 20px;
}

#destination img {
  width: 100%;
}

#packages {
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#packages div{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: rgba(207, 206, 206, 0.5);
  padding: 20px;
}

#relatos {
  height: 20px;
}

#reports {
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#reports div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgba(207, 206, 206, 0.5);
  padding: 20px;
}

#contato {
  height: 20px;
}

#contact {
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

#contact div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: rgba(207, 206, 206, 0.5);
  padding: 20px;
}

@media (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    background: #181818;
  }

  body h2, h3, p, a {
    color: #e1e1e1;
  }

  #destination {
    margin-top: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  #reports div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(207, 206, 206, 0.5);
    padding: 20px;
  }

  #contact div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(207, 206, 206, 0.5);
    padding: 20px;
  }

  body p {
    font-size: 18px;
  }

  #destination .denis{
    src: url(../images/saint-denis\ 400.jpg);
  }
  #destination .strawberry{
    src: url(../images/strawberry\ 400.jpg);
  }
  #destination .valentine{
    src: url(../images/valentine\ 400.jpg)
  }
  #destination .armadillo{
    src: url(../images/armadillo\ 400.jpg);
  }
}

@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    background: #181818;
  }

  body h2, h3, p, a {
    color: #e1e1e1;
  }

  #destination {
    margin-top: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  #destination img {
    display: none;
  }

  #reports {
    margin-top: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  #reports div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(207, 206, 206, 0.5);
    padding: 20px;
  }

  #packages {
    margin-top: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  #contact div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(207, 206, 206, 0.5);
    padding: 20px;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    background: #e1e1e1;
  }

  body h2, h3, p, a {
    color: #181818;
  }

  body p {
    font-size: 20px;
  }
}